{% extends 'base.html' %}


{% block content %}

<h1>Blogs</h1>


<div class="blog-container">
    {% for item in items %}
        <div class="blog-card">
            <div class="blog-header">
                <h2>{{ item[2] }}</h2> <!-- Blog Name -->
                <p class="blog-username">Posted by: <a href="/profile/{{ item[1]  }}">{{ item[1] }}</a></p> <!-- Username -->
                <p class="blog-date">{{ item[3] }}</p> <!-- Date -->
            </div>
            <div class="blog-content">
                <p>{{ item[4] }}</p> <!-- Content -->
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}